/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Root */


:root {
    --primaryColor: #eaeaea;
    --secondaryColor: #fff;
    --complementaryColor: #fafafa;
    --optionalChoice: #8edafc;
    --secondaryText: #6d848b;
    --yourMsg: #d5f9ba;
}





/* Utils */

.container {
    height: 92vh;
    width: 75vw;
    background-color: white;

    display: flex;
}





/* Generals */


#root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



body {
    height: 100vh;
    background-image: linear-gradient(#009688 15% , #d8dbd5 15%);
}



header {
    height: 80px;
    background-color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);

    display: flex;
    align-items: center;
    justify-content: space-between;
}



input {
    border: 0px solid black;
    font-size: 18px;
    color: var(--secondaryText);
    border-radius: 10px;
}



li {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--primaryColor);
    list-style-type: none;
    padding: 8px;
    cursor: pointer;

    display: flex;
    gap: 25px;
}



img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}


h3 {
    font-weight: normal;
}

i {
    color: var(--secondaryText);
    font-size: 23px;
    cursor: pointer;
}

/***********************************************************************************************
*************** CONTACT BOX *******************************************************************
***********************************************************************************************/


.contactsBox {
    flex-basis: 35%;
}



/******************* TOP SIDE  *****************************************/


/*** Header ***/

.user {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.user h4 {
    margin-left: 5px;
}

.settings i {
    padding: 15px;
}




/*** Notification ***/

.notification {
    background-color: var(--optionalChoice);
    height: 100px;

    display: flex;
    align-items: center;
}


.icon {
    padding: 7px;
    background-color: var(--secondaryColor);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.icon i {
    font-size: 20px;
    color: var(--optionalChoice);
}


.fix {
    color: var(--secondaryText);
    text-decoration: underline;
    cursor: pointer;
}



/*** Search Bar ***/

.search {
    background-color: var(--complementaryColor);
    padding: 8px;
}

.search input {
    padding: 10px;
    width: 100%;
}


/******************** Contact Side ****************************************/

.contactList {
    overflow-y: auto;
    height: calc(100% - 240px);
}


.contactList li:hover {
    background-color: var(--primaryColor);
}





/***********************************************************************************************
*************** CHAT BOX *******************************************************************
***********************************************************************************************/

.chatBox {
    flex-basis: 65%;
}


/**** Header ****/

.chatInfo {
    display: flex;
    align-items: center;
}

.info p {
    margin-top: 3px;
    color: var(--secondaryText);
}


/**** ChatSpace ****/

.chat {
    height: calc(100% - 80px - 80px);
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
    padding-top: 30px;
}


.msg {
    height: 50px;
    margin-bottom: 8px;
}


.msg p{
    padding: 18px;
    border-radius: 10px;
    margin: 15px;
    display: inline;
}


.received p{
    background-color: var(--secondaryColor);
}


.sent {
    text-align: right;
}


.sent p{
    background-color: var(--yourMsg);
    position: relative;
}


time {
    font-size: 12px;
    color: var(--secondaryText);
    position: absolute;
    bottom: 0px;
    right: 15px;
}



/**** BottomBar ****/

.bar {
    height: 80px;
    background-color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.bar input {
    padding: 19px;
    width: 80%;
}







